{
	"root": true,
	"rules": {
		"keyword-spacing": [2, { "before": true, "after": true }],
		"no-cond-assign": [0]
	},
	"env": {
		"es6": true,
		"browser": true,
		"mocha": true,
		"node": true
	},
	"extends": ["eslint:recommended", "prettier"],
	"parserOptions": {
		"ecmaVersion": 10,
		"sourceType": "module"
	}
}
